* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.top {
  display: flex;
  justify-content: space-between;
}

#quote {
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  margin: 0 auto;
  text-shadow: 0.04em 0 black, 2px 2px 10px #202020;
}

#author {
  text-align: center;
  font-size: 1.4rem;
  text-shadow: 2px 2px 10px #202020;
  width: 50%;
  margin: 5 auto;
}

#time {
  text-align: center;
  font-size: 5rem;
  margin: 5px;
  text-shadow: 2px 2px 20px #2a2a2a;
}

.center {
  margin-top: 15%;
}

div#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: -7px;
  margin-left: 15px;
}

div#weather > img {
  width: 70px;
}

p.weather-city {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-top: -10px;
  font-size: 1.2rem;
}

#photographer {
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  right: 20;
}

#refresh {
  font-size: 1.8rem;
  color: white;
  position: fixed;
  bottom: 20;
  left: 20;
  border-radius: 100px;
  cursor: pointer;
  padding: 0 0.6rem 0.2rem 0.5rem;
  background-color: transparent;
  border: white solid 1px;
}

#refresh:hover {
  background-color: white;
  color: black;
}
